.myLabelCSS {
	font: normal 14px tahoma, arial, helvetica, sans-serif;
	padding: 10px;
}

.closeCSS {
	color: #000000;
	font: normal 14px tahoma, arial, helvetica, sans-serif;
	padding: 10px;
	cursor: pointer;
}